.tituloMenu {
  font-size: xxx-large;
  margin-left: 25%;
  width: 80%;
  text-align: center;
  color: #38b821;
  display: flex;
}

.listaMenu {
  display: flex;
  flex-direction: column;
  align-items: flex;
}

.listaMenu a {
  text-decoration: none;
  color: #38b821;
  font-size: x-large;
  margin-left: 40%;
}

.listaMenu li {
  list-style: none;
  margin: 10px;
}
